{% extends "nav.html" %}
<title>{% block title %}Projects{% endblock %}</title>
{% block style %}
<style>
    body{
        background: green;
    }
    #test{
        color: white;
        text-decoration: none;
        font-size: 30px;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
    }
</style>
{% endblock %}
<body>
    {% block content %}
        <a id="test" href="{{url_for('project', name='PyCalc')}}">Test</a>    
    {% endblock %}
</body>