{% extends "nav.html" %}
<title>{% block title %}Contact{% endblock %}</title>
{% block style %}
<style>
    @media screen and (max-height: 300px) {
        #content{
            font-size: 10px;
        }
    }
    @media screen and (max-width: 300px){
        #content{
            font-size: 7.5px;
        }
    }
    @media screen and (max-width: 600px) and (min-width: 300px){
        #content{
            font-size: 10px;
        }
    }
    @media screen and (min-width: 1000px){
        #content{
            font-size: 15px;
        }
    }
    .ctnt-card{
        height: 30em;
        width: 20em;
        background: rgb(56, 48, 48);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
        margin-left: 25px;
        border-radius: 25px;
        display: flex;
        place-items: center;
        cursor: pointer;
    }
    #ctnt-card-usr-ico{
        position: relative;
        left: 50%;
        transform: translate(-50%, 0.5%);
        color: #e7e7e7;
        font-size: 10em;
        animation-duration: 230ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    #ctnt-card-usr-info{
        font-family: 'Smooch Sans', sans-serif;
        font-weight: 600;
        color: #e7e7e7;
        font-size: 1.6em;
        transform: translate(-50%, 100%);
        position: relative;
        /* opacity: 0; */
        animation-duration: 260ms;
        z-index: 997;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        display: flex;
        flex-direction: column;
    }
    .ctnt-card-email{
        width: 200%;
        height: 2em;
        transform: translateX(0);
    }
    .ctnt-card-disc{
        width: 120%;
        height: 2em;
        transform: translateX(18%);
    }
    .ctnt-card-title{
        width: 150%;
        height: 2em;
        transform: translateX(7%);
    }
    #ctnt-header{
        color: rgb(56, 48, 48);
        top: 33.5%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        background: rgb(56, 48, 48);
        width: 100%;
        height: 33.5%;
        border-radius: 25px;
        z-index: 998;
        left:50%;
        transform: translate(-50%, -100%);
        display: grid;
        place-items: center;
    }
    #ctnt-title{
        font-weight: 900;
        font-size: 3em;
        text-decoration: underline;
        color: #e7e7e7;
        user-select: none;
    }
    #ctnt-footer{
        color: rgb(56, 48, 48);
        top: 33.5%;
        left: 50%;
        position: absolute;
        background: rgb(56, 48, 48);
        width: 100%;
        height: 33.5%;
        border-radius: 25px;
        z-index: 998;
        left:50%;
        transform: translate(-50%, 100%);
    }
    .show_txt{
        animation-name: show_txt;
    }
    .hide_txt{
        animation-name: hide_txt;
    }
    .show_ico{
        animation-name: show_ico;
    }
    .hide_ico{
        animation-name: hide_ico;
    }
    @keyframes show_ico {
        0%{opacity: 0; transform: translate(-50%, -100%);}
        70%{opacity: 0;}
        100%{opacity: 100; transform: translate(-50%, 0.5%);}
    }
    @keyframes hide_ico {
        0%{opacity: 100; transform: translate(-50%, 0.5%);}
        30%{opacity: 100;}
        100%{opacity: 0; transform: translate(-50%, -100%);}
    }
    @keyframes show_txt {
        0%{opacity: 0; transform: translate(-50%, 100%);}
        70%{opacity: 0;}
        100%{opacity: 100; transform: translate(-50%, 0.5%);}
    }
    @keyframes hide_txt {
        0%{opacity: 0; transform: translate(-50%, 0.5%);}
        30%{opacity: 100;}
        100%{opacity: 100; transform: translate(-50%, 100%);}
    }
    /* #ctnt-line{
        rgb(41, 114, 12)
        position: absolute;
        background: rgb(41, 114, 12);
        width: 1em;
        height: 30em;
        z-index: 995;
        left:100%;
        transform: translateY(100%);
        top: -100%;
    } */
    .ctnt-bump{
        position: absolute;
        background: #e7e7e7;
        width: 2.7em;
        height: 4.85em;
        left:92%;
        z-index: 1;
        border-radius: 15px;
        /* top: 100px; */
    }
    .bump1{
        top: 3em;
    }
    .bump3{
        bottom: 3em;
    }
    .notbump{
        z-index: 997;
    }
</style>
{% endblock %}
{% block content %}
<div id="ctnt-card" class="ctnt-card">
    <span class="fa-solid fa-user notbump" id="ctnt-card-usr-ico"></span>
    <div class="ctnt-sect notbump" id="ctnt-header">
        <p id="ctnt-title" class="">Contacts</p>
    </div>
    <div id="ctnt-card-usr-info" >
        <p class="ctnt-card-title notbump">Where you can contact me:</p>
        <p class="ctnt-card-main-info ctnt-card-email">Email: chasecurwin@gmail.com</p>
        <p class="ctnt-card-main-info ctnt-card-disc">Discord: @C_C#8782</p>
    </div>
    <div class="ctnt-sect notbump" id="ctnt-footer"></div>
    <!-- <div id="ctnt-line"></div> -->
    <div class="bump1 ctnt-bump"></div>
    <div class="bump3 ctnt-bump"></div>
</div>
{% endblock %}
{% block script %}
<script>
    let contact = document.getElementById("ctnt-card");
    let contactico = document.getElementById("ctnt-card-usr-ico");
    let contacttxt = document.getElementById("ctnt-card-usr-info");
    contacttxt.style.animationDuration = "0.5s";
    contactico.style.animationDuration = "0.5s";
    contacttxt.classList.remove("hide_txt");
    contacttxt.classList.add("show_txt");
    contactico.classList.remove("show_ico");
    contactico.classList.add("hide_ico");
    contact.addEventListener("click", () => {
        contacttxt.style.animationDuration = "260ms";
        contactico.style.animationDuration = "260ms";
        contacttxt.classList.toggle("show_txt");
        contacttxt.classList.toggle("hide_txt");
        contactico.classList.toggle("hide_ico");
        contactico.classList.toggle("show_ico");
    });
</script>
{% endblock %}