{% extends "nav.html" %}
<title>{% block title %}Home{% endblock %}</title>
{% block style %}
<style>
    @media screen and (max-height: 500px){
        #content{
            font-size: 10px;
        }
    }
    @media screen and (max-width: 300px){
        #content{
            font-size: 5px;
        }
    }
    @media screen and (max-width: 350px) and (min-width: 300px){
        #content{
            font-size: 5px;
        }
    }
    @media screen and (max-width: 500px) and (min-width: 350px){
        #content{
            font-size: 7.5px;
        }
    }
    @media screen and (max-width: 750px) and (min-width: 500px){
        #content{
            font-size: 12px;
        }
    }
    @media screen and (min-width: 1000px){
        #content{
            font-size: 20px;
        }
    }
    #main-sect{
        background: rgb(41, 35, 35);
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 1.5em;
        width: 20em;
        height: 18em;
        border-radius: 10px;
        position: absolute;
        cursor: pointer;
        left: 50%;
        top: 25%;
        transform: translate(-45%, -25%);
        text-align: center;
    }
    #main-sect> p > a{
        color: rgb(58, 69, 224);
    }
</style>
{% endblock %}
{% block content %}
<div id="main-sect">
    
</div>
{% endblock %}