{% extends "nav.html" %}
<title>{% block title %}Home{% endblock %}</title>
{% block style %}
<style>
    #main-info{
        color: white;
    }
    #main-info > a{
        color: rgb(58, 69, 224);
    }
</style>
{% endblock %}
{% block content %}
<div id="main-info">
    <p> Hi I'm Chase Curwin, I currently 13 years old and I have been learning how to code for about 3 years now.</p>
    <p> My earliest projects were some websites that I am not too proud of that I made with little knowledge of HTML, CSS, and JavaScript.</p>
    <p> This website is a throwback of sorts to those old projects and I have decided to use it to host some projects I've made as a sort of portfolio for my work.</p>
    <p> For more information on who I am or how to contact me visit the <a href="{{url_for('about')}}">about</a> page or the <a href="{{url_for('contact')}}">contact</a> page.</p>
</div>
{% endblock %}