{% extends "nav.html" %}
<title>{% block title %}Home{% endblock %}</title>
{% block style %}
<style>
    @media screen and (max-height: 500px){
        #content{
            font-size: 10px;
        }
    }
    @media screen and (max-width: 300px){
        #content{
            font-size: 5px;
        }
    }
    @media screen and (max-width: 350px) and (min-width: 300px){
        #content{
            font-size: 5px;
        }
    }
    @media screen and (max-width: 500px) and (min-width: 350px){
        #content{
            font-size: 7.5px;
        }
    }
    @media screen and (max-width: 750px) and (min-width: 500px){
        #content{
            font-size: 12px;
        }
    }
    @media screen and (min-width: 1000px){
        #content{
            font-size: 20px;
        }
    }
    #main-sect{
        background: rgb(41, 35, 35);
        padding: 20px;
        color: white;
        font-weight: 500;
        font-size: 1.5em;
        width: 20em;
        height: 18em;
        border-radius: 10px;
        position: absolute;
        cursor: pointer;
        left: 50%;
        top: 25%;
        transform: translate(-45%, -25%);
        text-align: center;
    }
    #main-sect> p > a{
        color: rgb(58, 69, 224);
    }
</style>
{% endblock %}
{% block content %}
<div id="main-sect">
    <p> Hi I'm Chase Curwin, I am currently 13 years old and I have been learning how to code for about 3 years now.</p>
    <br>
    <p> Some of the earliest projects I madewere some websites that I am not too proud of that I made with little knowledge of HTML, CSS, and JavaScript.</p>
    <br>
    <p> This website is a throwback of sorts to those old projects and I have decided to use it to host some projects I've made as a sort of portfolio for my work.</p>
    <br>
    <p> For more information on who I am or how to contact me visit the <a href="{{url_for('about')}}">about</a> page or the <a href="{{url_for('contact')}}">contact</a> page.</p>
    <br>
</div>
{% endblock %}