{% extends "nav.html" %}
<title>{% block title %}{{project_list[ind][0]}}{% endblock %}</title>
{% block style %}
<style>
    #name{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
    }
    #proj{
        position: absolute;
        color: white;
        border-radius: 15px;
        background: none;
        border: none;
        width: 500px;
        height: 300px;
    }
    #content{
        margin-left: 60px;
    }
</style>
{% endblock %}
{% block content %}
<h1 id="name">
    {{project_list[ind][0]}}
</h1>
<iframe id="proj" src="https://trinket.io/embed/python/{{project_list[ind][1]}}?outputOnly=true&runOption=run&start=result" allowfullscreen></iframe>
{% endblock %}