{% extends "nav.html" %}
<title>{% block title %}{{project_list[ind][0]}}{% endblock %}</title>
{% block style %}
<style>
    @media screen and (max-height: 300px) {
        #content{
            font-size: 10px;
        }
        img{
            transform: scale(0.7);
        }
    }
    @media screen and (max-width: 300px){
        #content{
            font-size: 7.5px;
        }
        img{
            transform: scale(0.7);
        }
    }
    @media screen and (max-width: 600px) and (min-width: 300px){
        #content{
            font-size: 10px;
        }
        img{
            transform: scale(0.7);
        }
    }
    @media screen and (max-width: 850px) and (min-width: 600px) {
        img{
            transform: scale(0.7);
        }
    }
    @media screen and (min-width: 1000px){
        #content{
            font-size: 15px;
        }
    }
    @media screen and (max-height: 700px) and (min-height: 450px){
        img{
            transform: scale(0.7);
        }
    }
    @media screen and (max-height: 450px){
        img{
            transform: scale(0.5);
        }
    }
    #name{
        text-align: center;
        color: #e7e7e7;
        font-size: 2em;
        /* font-family: 'Anton', sans-serif; */
        /* font-family: 'Dosis', sans-serif; */
        /* font-family: 'Hubballi', cursive; */
        /* font-family: 'Quicksand', sans-serif; */
        /* font-family: 'Roboto Condensed', sans-serif; */
        /* font-family: 'Share', cursive; */
        font-family: 'Smooch Sans', sans-serif;
        /* font-family: 'Titillium Web', sans-serif; */
    }
    #content{
        margin-left: 60px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #proj-txt{
        position: relative;
        color: #e7e7e7;
        border-radius: 15px;
        width: 75%;
        margin-top: 10px;
        background: rgb(56, 48, 48);
    }
    #proj-info{
        padding: 10px;
    }
    .txt-line{
        color: #e7e7e7;
        font-size: 1.3em;
    }
    footer{
        position: fixed;
        bottom: 0;
        height: 2.3em;
        color: #e7e7e7;
        left: 0;
        justify-content: center;
        width: 100%;
        background: rgb(56, 48, 48);
        display: flex;
        align-items: center;
    }
    #icons-credit{
        color: #e7e7e7;
    }
    img{
        z-index: 100000;
    }
    .download_link{
        user-select: none;
    }
</style>
{% endblock %}
{% block content %}
<div id="proj-txt">
    <h1 id="name">
        {{project_list[ind][0]}}
    </h1>   
    <div id="proj-info">
        {% for line in projtxt %}
            {% if line == "\n" %}
                <br>
            {% else %}
                <p class="txt-line">{{line}}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
    <div id="proj-downloads">
        {% for i in range(download_links|length) %}
            <a href="{{download_links[i]}}" class="download_link" download><img src="{{download_ico[i]}}" alt=""></a>
        {% endfor %}
    </div>
{% endblock %}
{% block footer %}
<footer>
    <a target="_blank" href="https://icons8.com/icon/xuNL8GmRDT5i/uno">Uno</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</footer>
{% endblock %}