{% extends "nav.html" %}
<title>{% block title %}{{name}}{% endblock %}</title>
{% block style %}
<style>
    #proj{
        position: absolute;
        color: white;
        border-radius: 15px;
        background: none;
        border: none;
        width: 500px;
        height: 125px;
    }
    #content{
        margin-left: 60px;
    }
</style>
{% endblock %}
{% block content %}
<iframe id="proj" src="https://trinket.io/embed/python/004bd41daf?outputOnly=true&runOption=run&start=result" allowfullscreen></iframe>
{% endblock %}